<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>AA<span>.</span></h3>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <strong>
                DISTRICT 6 A.A. <br>
                P.O. Box 6876<br>
                Columbus GA, 31917<br>
                United States<br><br>
            </strong>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <strong>Phone:</strong> 706-327-6078
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <strong>Email:</strong> webmaster@aacolumbusga.org<br>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>