<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">AA<span>.</span></a></h1>

        <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li><a href="/">Home</a></li>
            <!-- All instances of the url before # needs to be updated with actual website url-->
            <li class="drop-down"><a href="#">About</a>
            <ul>
                <li><a href="https://pogoro-aa.herokuapp.com#about_district_6">About District 6</a></li>
                <li class="drop-down"><a href="MeetingReadings">Meeting Readings</a>
                <ul>
                        <li><a href="https://pogoro-aa.herokuapp.com#preamble">The Preamble</a></li>
                        <li><a href="https://pogoro-aa.herokuapp.com#how_it_works">How It Works</a></li>
                        <li><a href="https://pogoro-aa.herokuapp.com#traditions">The 12 Traditions</a></li>
                        <li><a href="https://pogoro-aa.herokuapp.com#promise">The Promise</a></li>
                </ul>
                <li><a href="https://pogoro-aa.herokuapp.com#contact">Contact</a></li>
            </ul>
            </li>
            <li class="drop-down"><a href="#">Resources</a>
            <ul>
                <li><a href="reflection">Daily Reflection</a></li>
                <li class="drop-down"><a href="#">Literature</a>
                    <ul>
                        <li><a href="bigbook">The Big Book</a></li>
                        <li><a href="stepsTraditions">12 Steps and 12 Traditions</a></li>
                    </ul>
            </ul>
            <li><a href="service">Service Opportunities</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="meetings" class="get-started-btn scrollto">Find a Meeting</a>

    </div>
  </header><!-- End Header -->