<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alcoholics Anonymous - The Big Book</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/aa-icon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="styles2.css" rel="stylesheet" type="text/css">

  <!-- =======================================================
  * Template Name: Gp - v3.0.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="home.ejs">AA<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="drop-down"><a href="#">About</a>
            <ul>
                <li><a href="#about">About District 6</a></li>
                <li><a href="MeetingReadings.ejs">Meeting Readings</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="#">Resources</a>
            <ul>
                <li><a href="https://www.aa.org/pages/en_US/daily-reflection" target="_blank">Daily Reflection</a></li>
                <li class="drop-down"><a href="#">Literature</a>
                    <ul>
                        <li class = "active"><a href="bigbook.ejs" target="_blank">The Big Book</a></li>
                        <li><a href="stepsTraditions.ejs">12 Steps and 12 Tradtitions</a></li>
                    </ul>
            </ul>
          <li><a href="service.ejs">Service Oppurtunities</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="meetings.ejs" class="get-started-btn scrollto">Find a Meeting</a>

    </div>
  </header><!-- End Header -->

<!-- ======= Body ======= -->

<!-- ======= Summary Section ======= -->
    <div class="jumbotron">
        <h1 class="display-4"><b>Alcoholics Anonymous</b></h1>
        <p class="lead">This is the Fourth Edition of the Big Book, the basic text for Alcoholics Anonymous.</p>
        <hr class="my-4">
    </div>

    <!-- ======= Intro ======= -->
    <section id="about" class="about">
        <div class="container2" data-aos="fade-up">
            <div class="row">
                <h3><b>Intro</b></h3>
                <ul>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_titlepage.pdf"></a>Title Page - (pp. iii)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_copyright.pdf"></a>Copyright Information - (pp. ii)></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_contents.pdf"></a>Contents (pp. v-x)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_preface.pdf"></a>Preface - (pp. xi-xii)</li>

                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_forewordfirstedition.pdf"></a>Foreword to First Edition - (pp. xiii-xiv)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_forewordsecondedition.pdf"></a>Foreword To Second Edition - (pp. xv-xxi)></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_forewordthirdedition.pdf"></a>Foreword To Third Edition - (pp. xxii)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_forewordfourthedition.pdf"></a>Foreword To Fourth Edition - (pp. xxiii-xxiv)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_foreworddoctorsopinion.pdf"></a>The Doctor's Opinion - (pp. xxv-xxxii)</li>
                </ul>
            </div>
        </div>
    </section><!-- Intro -->

    <!-- ======= Chapters ======= -->
    <section id="about" class="about">
        <div class="container1" data-aos="fade-up">
            <div class="row">
                <h3><b>Chapters</b></h3>
                <ul>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt1.pdf"></a>Bill's Story - (pp. 1-16)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt2.pdf"></a>There is a Solution - (pp. 17-29)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt3.pdf"></a>More About Alcoholism - (pp. 30-43)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt4.pdf"></a>We Agnostics - (pp. 44-57)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt5.pdf"></a>How It Works - (pp. 58-71)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt6.pdf"></a>Into Action - (pp. 72-88)</li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt7.pdf">Working With Others - (pp. 89-103)</a></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt8.pdf">To Wives - (pp. 104-121)</a></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt9.pdf">The Family Afterward - (pp. 122-135)</a></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt10.pdf">To Employers - (pp. 136-150)</a></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_chapt11.pdf">A Vision For You - (pp. 151-164)</a></li>
                </ul>
            </div>
        </div>
    </section><!-- Chapters -->

    <!-- ======= Stories ======= -->
    <section id="about" class="about">
        <div class="container2" data-aos="fade-up">
            <div class="row">
                <h3><b>Twelve Traditions</b></h3>
                <ul>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_personalstories.pdf">How Forty-Two Alcoholics Recovered From Their Malady - (pp. 165-166)</a></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_personalstories_partI.pdf">PART I - Pioneers of A.A. - (pp. 169-276)</a></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_personalstories_partII.pdf">PART II - They Stopped in Time - (pp. 277-431)</a></li>
                    <li><a href="https://www.aa.org/assets/en_US/en_bigbook_personalstories_partIII.pdf">PART III - They Lost Nearly All - (pp. 435-559)</a></li>
                </ul>
            </div>
        </div>
    </section><!-- Stories -->

    <!-- ======= Appendices ======= -->
    <section id="about" class="about">
      <div class="container2" data-aos="fade-up">
        <div class="row">
            <h3><b>Appendices</b></h3>
            <ul>
                <li><a href="https://www.aa.org/assets/en_US/en_bigbook_appendicei.pdf">The A.A. Tradition - (pp. 561-566)</a></li>
                <li><a href="https://www.aa.org/assets/en_US/en_bigbook_appendiceii.pdf">Spiritual Experience - (pp. 567-568)</a></li>
                <li><a href="https://www.aa.org/assets/en_US/en_bigbook_appendiceiii.pdf">The Medical View On A.A. - (pp. 569-570)</a></li>
                <li><a href="https://www.aa.org/assets/en_US/en_bigbook_appendiceiv.pdf">The Lasker Award - (pp. 571)</a></li>
                <li><a href="https://www.aa.org/assets/en_US/en_bigbook_appendicev.pdf">The Religious View on A.A. - (pp. 572)</a></li>
                <li><a href="https://www.aa.org/assets/en_US/en_bigbook_appendicevi.pdf">How to Get in Touch With A.A. - (pp. 573)</a></li>
                <li><a href="https://www.aa.org/assets/en_US/en_bigbook_appendicevii.pdf">Twelve Concepts (Short Form) - (pp. 574-575)</a></li>
            </ul>
        </div>
      </div>
    </section><!-- Appendices -->

<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>AA<span>.</span></h3>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <strong>
                DISTRICT 6 A.A. <br>
                P.O. Box 6876<br>
                Columbus GA, 31917<br>
                United States<br><br>
            </strong>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <strong>Phone:</strong> 706-327-6078
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <strong>Email:</strong> webmaster@aacolumbusga.org<br>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>