<html lang="en">
    <link href="styles2.css" rel="stylesheet" type="text/css">

    <body>
        <div class="meeting_data">
            <%- include('partials/meeting_card') %>
        </div>
    </body>
</html>