<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alcoholics Anonymous - Meeting Readings</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/aa-icon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="styles2.css" rel="stylesheet" type="text/css">

  <!-- =======================================================
  * Template Name: Gp - v3.0.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="home.ejs">AA<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#"><b>Meeting Readings</b></a></li>
          <li class="drop-down"><a href="#">Resources</a>
            <ul>
                <li><a href="https://www.aa.org/pages/en_US/daily-reflection" target="_blank">Daily Reflection</a></li>
                <li class="drop-down"><a href="#">Literature</a>
                    <ul>
                        <li><a href="bigbook.ejs">The Big Book</a></li>
                        <li><a href="stepsTraditions.ejs">12 Steps and 12 Tradtitions</a></li>
                    </ul>
            </ul>
            <li><a href="#">Service Oppurtunities</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="meetings.ejs" class="get-started-btn scrollto">Find a Meeting</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Summary Section ======= -->
    <div class="jumbotron">
        <h1 class="display-4"><b>Meeting Readings</b></h1>
        <p class="lead">At the beginning of each A.A. meeting a selection of readings are read that introduce the purpose of A.A, how A.A works, the traditions of A.A., and the promises. Many of these readings come from the Alcoholics Anonymous Big Book. The Big Book was originally written in 1939 by the founders of Alcoholics Anonymous. Even though this text is over 80 years old, the content including 
            stories, steps, and logic in the text still ring true in the lives of many alcoholics today.</p>
        <hr class="my-4">
    </div>
    <!-- ======= A.A. Preamble ======= -->
    <section id="about" class="about">
      <div class="container1" data-aos="fade-up">
        <div class="row">
            <h3><b>A.A. Preamble</b></h3>
            <p class="font-italic">
                Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism. The only requirement for membership is a desire to stop drinking. There are no dues or fees for A.A. membership; we are selfsupporting through our own contributions. A.A. is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy, neither endorses nor opposes any causes. Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.
                <br>
                © Copyright The AA Grapevine, Inc. All Rights Reserved - <a href="www.aa.org">www.aa.org</a>
            </p>
        </div>
      </div>
    </section><!-- A.A. Preamble Section -->

    <!-- ======= How It Works ======= -->
    <section id="about" class="about">
      <div class="container2" data-aos="fade-up">
        <div class="row">
            <h3><b>How It Works</b></h3>
            <p class="font-italic">
                Rarely have we seen a person fail who has thoroughly followed our path. Those who do not recover are people who cannot or will not completely give themselves to this simple program, 
                usually men and women who are constitutionally incapable of being honest with themselves. There are such unfortunates. They are not at fault; they seem to have been born that way. They are naturally incapable of grasping and developing a 
                manner of living which demands rigorous honesty. Their chances are less than average. There are those, too, who suffer from grave emotional and mental disorders, but many of them do recover if they have the capacity to be honest. Our stories disclose in a general way what we used to be like, what happened, and what we are like now. 
                If you have decided you want what we have and are willing to go to any length to get it — then you are ready to take certain steps. At some of these we balked. We thought we could find an easier, softer way. But we could not. With all the earnestness at our command, we beg of you to be fearless and thorough from the very start. Some of us have tried to hold on to our old 
                ideas and the result was nil until we let go absolutely. Remember that we deal with alcohol — cunning, baffling, powerful! Without help it is too much for us. But there is One who has all power — that One is God. May you find Him now! Half measures availed us nothing. We stood at the turning point. We asked His protection and care with complete abandon. 
                Here are the steps we took, which are suggested as a program of recovery:                <br>
                <br>
                <ol>
                    <li>We admitted we were powerless over alcohol — that our lives had become unmanageable.</li>
                    <li>Came to believe that a Power greater than ourselves could restore us to sanity.</li>
                    <li>Made a decision to turn our will and our lives over to the care of God as we understood Him.</li>
                    <li>Made a searching and fearless moral inventory of ourselves.</li>
                    <li>Admitted to God, to ourselves, and to another human being the exact nature of our wrongs.</li>
                    <li>Were entirely ready to have God remove all these defects of character.</li>
                    <li>Humbly asked Him to remove our shortcomings.</li>
                    <li>Made a list of all persons we had harmed, and became willing to make amends to them all.</li>
                    <li>Made direct amends to such people wherever possible, except when to do so would injure them or others.</li>
                    <li>Continued to take personal inventory and when we were wrong promptly admitted it.</li>
                    <li>Sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.</li>
                    <li>Having had a spiritual awakening as the result of these steps, we tried to carry this message to alcoholics, and to practice these principles in all our affairs.</li>
                </ol>
                <br>
                <p class="font-italic">
                    Many of us exclaimed, “What an order! I can’t go through with it.’’ Do not be discouraged. No one among us has been able to maintain anything like perfect adherence to these principles. We are not saints. 
                    The point is, that we are willing to grow along spiritual lines. The principles we have set down are guides to progress. We claim spiritual progress rather than spiritual perfection. Our description of the alcoholic, 
                    the chapter to the agnostic, and our personal adventures before and after make clear three pertinent ideas:
                <br>
                </p>
                <ol>
                    <ul>That we were alcoholic and could not manage our own lives.</ul>
                    <ul>That probably no human power could have relieved our alcoholism.</ul>
                    <ul>That God could and would if He were sought.</ul>
                </ol>
                <br>
                <p>
                    From pages 58-60 in the book Alcoholics Anonymous.
                    © Copyright by Alcoholics Anonymous World Services, Inc. 1939, 1955, 1976, 2001. All Rights Reserved - <a href="www.aa.org">www.aa.org</a>
            </p>
        </div>
      </div>
    </section><!-- How It Works -->    

    <!-- ======= The 12 Traditions of A.A.s ======= -->
    <section id="about" class="about">
      <div class="container1" data-aos="fade-up">
        <div class="row">
            <h3><b>The 12 Traditions of A.A.</b></h3>
                <ol>
                    <li>Our common welfare should come first; personal recovery depends upon A.A. unity.</li>
                    <li>For our group purpose there is but one ultimate authority—a loving God as He may express Himself in our group conscience. Our leaders are but trusted servants; they do not govern.</li>
                    <li>The only requirement for A.A. membership is a desire to stop drinking.</li>
                    <li>Each group should be autonomous except in matters affecting other groups or A.A. as a whole.</li>
                    <li>Each group has but one primary purpose—to carry its message to the alcoholic who still suffers.</li>
                    <li>An A.A. group ought never endorse, finance, or lend the A.A. name to any related facility or outside enterprise, lest problems of money, property, and prestige divert us from our primary purpose.</li>
                    <li>Every A.A. group ought to be fully self-supporting, declining outside contributions.</li>
                    <li>Alcoholics Anonymous should remain forever nonprofessional, but our service centers may employ special workers.</li>
                    <li>A.A., as such, ought never be organized; but we may create service boards or committees directly responsible to those they serve.</li>
                    <li>Alcoholics Anonymous has no opinion on outside issues; hence the A.A. name ought never be drawn into public controversy.</li>
                    <li>Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio, and films.</li>
                    <li>Anonymity is the spiritual foundation of all our Traditions, ever reminding us to place principles before personalities.</li>
                </ol>
                <br>
                <p>
                    Copyright © 1952, 1953, 1981 by A.A. Grapevine, Inc. and Alcoholics Anonymous Publishing (now known as Alcoholics Anonymous World Services, Inc.). All Rights Reserved - <a href="www.aa.org">www.aa.org</a>
                </p>
        </div>
      </div>
    </section><!-- The 12 Traditions of A.A. --> 

    <!-- ======= The Promise ======= -->
    <section id="about" class="about">
      <div class="container2" data-aos="fade-up">
        <div class="row">
            <h3><b>The Promise</b></h3>
            <p class="font-italic">
                If we are painstaking about this phase of our development, we will be amazed before we are half way through. We are going to know a new freedom and a new happiness. We will not regret the past nor wish to shut the door on it. We will comprehend the word serenity and we will know peace. No matter how far down the scale we have gone, we will see how our experience can benefit others. That feeling of uselessness and selfpity will disappear. We will lose interest in selfish things and gain interest in our fellows. Self-seeking will slip away. Our whole attitude and outlook upon life will change. Fear of people and of economic insecurity will leave us. We will intuitively know how to handle situations which used to baffle us. We will suddenly realize that God is doing for us what we could not do for ourselves. Are these extravagant promises? We think not. They are being fulfilled among us—sometimes quickly, sometimes slowly. They will always materialize if we work for them.
            <br>
                From pages 83-84 in the book Alcoholics Anonymous.
                © Copyright by Alcoholics Anonymous World Services, Inc. 1939, 1955, 1976, 2001. All Rights Reserved - <a href="www.aa.org">www.aa.org</a>
            </p>
        </div>
      </div>
    </section><!-- The Promise -->

    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>AA<span>.</span></h3>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <p>
                DISTRICT 6 A.A. <br>
                P.O. Box 6876<br>
                Columbus GA, 31917<br>
                United States<br><br>
              </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <strong>Phone:</strong> 706-327-6078
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <strong>Email:</strong> webmaster@aacolumbusga.org<br>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>